/*
 * UltiCloud全局样式
 * @author qianmo
 */

/*
 * 滚动栏样式
 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: 0 0;
}

/*
 * 页面主体内容样式
 */

.v-main__wrap {
    overflow-y: scroll !important;
}

html {
    overflow: hidden !important;
    height: 100vh !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.login-box {
    margin-top: calc(25%);
}

.global-loading {
    margin-top: calc(90%);
}

.slide-fade-enter-active {
    transition: all .175s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-fade-leave-active {
    transition: all .075s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(1.5vh);
    opacity: 0;
}

li {
    list-style-type: none;
}

.color-spring {
    background-color: rgba(170,170,170,0);
    background: linear-gradient(87deg, #ff0034, #fd4a00)!important;
}

.a-spring {
    background-color: rgba(170,170,170,0);
    background: linear-gradient(87deg, #de650d, #c90027)!important;
}

.card-spring-1 {
    background-color: rgba(170,170,170,0);
    background: linear-gradient(87deg, #ff0034, #fd4a00)!important;
}

.card-spring-2 {
    background-color: rgba(170,170,170,0);
    background: linear-gradient(87deg, #ff0034, #fd4a00)!important;
}

.card-spring-3 {
    background-color: rgba(170,170,170,0);
    background: linear-gradient(87deg, #ff0034, #fd4a00)!important;
}

.card-spring-4 {
    background-color: rgba(170,170,170,0);
    background: linear-gradient(87deg, #ff0034, #fd4a00)!important;
}

.grecaptcha-badge {
    visibility: hidden!important;
}

pre{
    box-sizing:border-box;
    /*以下样式是自动换行代码*/
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    /*以上样式是自动换行代码，需要的加上，不需要的删除*/
    overflow:auto;
    font-family:Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size:13px;
    padding:10px;
    margin-top:0;
    margin-bottom:10px;
    line-height:1.42857;
    color: #ffffff;
    word-break:break-all;
    border:1px solid #494949;
    border-radius:4px;
    background-color: #464646;
    user-select: text
}