/*
 ********************
 * Scrollbar Styles: need more cross-platform testing
 ********************
 */

.v-dialog::-webkit-scrollbar {
   width: 4px;
}

::-webkit-scrollbar {
    height: 4px;
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-button:end:increment {
    background: transparent;
    display: none;
}
::-webkit-scrollbar-button:start:decrement {
    background: transparent;
    display: none;
}
::-webkit-scrollbar-track-piece:vertical {
    background: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
}
::-webkit-scrollbar-track-piece:horizontal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
}
::-webkit-scrollbar-thumb:horizontal {
    background: rgba(84, 84, 84, 0.4);
    border-radius: 2px;
    display: block;
    height: 24px;
}
::-webkit-scrollbar-thumb:vertical {
    background: rgba(84, 84, 84, 0.4);
    border-radius: 3px;
    display: block;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(84, 84, 84, 1);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(84, 84, 84, 1);
}
.v-dialog::-webkit-scrollbar-thumb:vertical {
    border-radius: 0 4px 4px 0;
}

html
{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}